__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
checkpoints/
runs/
# Ignore raw dataset files but not Python source modules in data/
data/**/*.json
data/**/*.zip
data/**/*.tar
data/**/*.gz
data/coco/
data/vqa/*.json
data/visual_genome/
*.pt
*.ckpt
